<%= form_with(model: notification, local: true) do |form| %>

<div class="field" >
  <%= form.label :email %>
  <%= form.text_field :email, id: :notification_email %>
</div>
<br>
<div class="actions" >
  <%= form.submit  class: "btn btn-primary", value: 'Update Email'%>
</div>

<% end %>
