<p id="notice"><%= notice %></p>

<h1>Notifications</h1>
<div>
  <%= render 'form', notification: @notification %>
</div>

<br>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="">
  <label class="form-check-label" for="defaultCheck1">
    First News
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="">
  <label class="form-check-label" for="defaultCheck1">
    Second News
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="">
  <label class="form-check-label" for="defaultCheck1">
    Third News
  </label>
</div>
