<h3><%= @mail %></h3>
<% @news_a.each do |i|  %>
  <%= button_to "#{i}" , action: "#{i}" %>
  <%  if @a[@index] == '0' %>
    <h5>You don't subscribed to this news</h5>
  <% else %>
    <h5>You subscribed to this news</h5>
  <% end %>
  <% @index += 1 %>
<% end %>
